.container {
}
.button-round {
    border-radius: 100%;
    size: 150px;
    font-size: 40px;
    position:fixed;
    bottom: 100px;
    right: 100px;
}
.button-round:hover {
    transform: scale(1.2);
}
.library {
    margin:50px 150px;
    display: grid;
    grid-auto-flow: rows;
    gap: 50px;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    /* justify-content: space-between; */
    justify-items: center;
}
.library>* {
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}
button[data-read="true"]{
    background-color: green;
    size: 200px;
}
button[data-read="false"]{
    background-color: red;
    size: 200px;
}
.card button{
padding: 20px;
}
.formCard{
    display: block;
    position: fixed;
    bottom: 50px;
    width: 20%;
    height: 50%;
    box-shadow: 1px 1px 20px;
    background-color: antiquewhite;
}
.formCard[data-visible="true"]{
    right: 50px;
    transition: right 2s;
}
.formCard[data-visible="false"]{
    right: -550px;
    transition: right 2s;
}